* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;

}

body.light-mode {
    background: #fcd7d6;
    transition: background-color 0.5s;
}

body {
    background: #0F103F;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    transition: background-color 0.5s;
}

.text-styling {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: normal;
    display: block;
    height: auto;
    text-align: center;
    color: #ffffffc9;
    animation: neon 3s infinite;
    font-style: normal;
}

.text-styling.light-mode {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: normal;
    display: block;
    height: auto;
    text-align: center;
    color: #0F103F;
    animation: neon 3s infinite;
    font-style: normal;
}


@keyframes neon {
    0% {
        text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
            0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
            0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color);
    }

    50% {
        text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
            0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
            0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 150px var(--shadow-color);
    }

    100% {
        text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
            0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
            0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 100px var(--shadow-color);
    }
}

.star {
    position: fixed;
    width: 30px;
    height: 30px;
    background-image: url(images/stars-min.png);
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    transition: opacity 0.5s ease;
}


/* navbar ---------------------------------------------------------------- */
#navigation.light-mode {
    color: #0F103F;
    padding: 20px 0;
}

#navigation {
    color: #fff;
    padding: 20px 0;
}

.nav-container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

nav h1 {
    font-size: 30px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-right: 40px;
    margin-left: 40px;
}

.nav-links a.light-mode {
    color: #0F103F;
    text-decoration: none;
    font-size: 18px;
    margin-right: 40px;
    margin-left: 40px;
}

@media screen and (max-width: 520px) {
    .nav-links {
        display: none;
    }
    .hamburger{
        display:flex;
    }
}



/* hero section */
.hero {
    color: #fff;
    height: 100vh;
    text-align: center;
    position: relative;

}

.hero.light-mode {
    color: #0F103F;
    height: 100vh;
    text-align: center;
    position: relative;

}

.background-image {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 40px;
    opacity: 0;

}


.left-image {
    background-image: url('images/IllustrationTop-min.png');
    background-size: 30% auto;
    background-repeat: no-repeat;
    background-position: top left;
    left: 0;
    animation: slideFromLeft 3s ease forwards;
    animation-direction: alternate;
    transition: 500ms linear;
    transform: translate3d(0px, 0px, 0px) rotate(358deg);
    transform-style: preserve-3d;

}

.left-image.light-mode {
    background-image: url('images/Illustration\ top\ \(1\).png');
    background-size: 30% auto;
    background-repeat: no-repeat;
    background-position: top left;
    left: 0;
    animation: slideFromLeft 3s ease forwards;
    animation-direction: alternate;
    transition: 500ms linear;
    transform: translate3d(0px, 0px, 0px) rotate(358deg);
    transform-style: preserve-3d;

}


.right-image {
    background-image: url('images/IlustrationBottom.png');
    background-size: 95% auto;
    background-repeat: no-repeat;
    background-position: bottom right;
    right: 0;
    animation: slideFromTop 3s ease forwards;
    animation-direction: alternate;
    transition: 500ms linear;
    padding-top: 30px;

}


.right-image.light-mode {
    background-image: url('images/IlustrationBottom.png');
    background-size: 95% auto;
    background-repeat: no-repeat;
    background-position: bottom right;
    right: 0;
    animation: slideFromTop 3s ease forwards;
    animation-direction: alternate;
    transition: 500ms linear;
    padding-top: 30px;

}

.slide-in {
    animation: slideIn 1.5s forwards;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in {
    animation: fadeIn 4s forwards;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(0);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-30%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideFromTop {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;

        transform: translateX(-20%);
    }

    100% {
        opacity: 1;

        transform: translateY(20%);
    }
}

@keyframes floote {
    0% {
        transform: translateX(-2%);
    }

    100% {
        transform: translateY(2%);
    }
}

.hero-container {
    z-index: 1;
    /* Ensure content is above background images */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero-container h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 100px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.hero-button {
    background-color: #40416c9f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    width: 150px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 100px;
    margin: 20px;
}

.hero-button.light-mode {
    background-color: #40416cd8;
    color: #fff;
    padding: 10px 20px;
    border: none;
    width: 150px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 100px;
    margin: 20px;
}

.cv {
    background: linear-gradient(to right, #c961deaa, #2954a39a);
}

.cv:hover {
    background: linear-gradient(to right, #c961de, #2954a3);

}


@media screen and (max-width: 520px) {
    h1{
        font-size: 20px;
    }

    .background-image {
        width: 100%;
        height: 100vh;
        top: 10px;
    }

    .right-image {
        background-size: 100% auto;
    }

    .left-image {
        background-size: 100% auto;
    }

    .hero-buttons {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        z-index: 2;
    }

    .hero-button {
        background-color: #40416c9f;
        color: #fff;
        padding: 15px 20px;
        text-align: center;
        border: none;
        width: 150px;
        border-radius: 20px;
        cursor: pointer;
        margin-bottom: 100px;
        margin: 10px;
    }
}







/* ---------------------About-------------------- */

.about {
    color: #fff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: top;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.about-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100vh;
}

.about-left {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#theme-image {
    animation: slideFromTop 3s ease forwards;
    animation-direction: alternate;
    transition: 500ms linear;
    position: relative;
    opacity: 0;
    height:75% ;
    margin-left: 10px;
    margin-right: 10px;
}


.about-right {
    grid-area: 1 / 2 / 2 / 3;
    background-image: url(images/Group\ 1179-min.png);
    background-size: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.about-cards {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 35% 60%;
    height: 100%;
    width: 100%;
    padding: 15px;
    text-align: center;
}

.about-card1 {
    width: 80%;
    background-color: #2954a394;
    border-radius: 15px;
    margin: 20px;
    display: grid;
    grid-template-rows: 20% 80%;
    justify-items: start;
    align-items: center;
    padding: 20px;
}

.about-card1.light-mode {
    width: 80%;
    background-color: #2954a3c4;
    border-radius: 15px;
    margin: 20px;
    display: grid;
    grid-template-rows: 20% 80%;
    justify-items: start;
    align-items: center;
    padding: 20px;
}

.about-card1:hover {
    transition: 500ms linear;
    box-shadow: 0 1px 30px 0 rgba(29, 62, 123, 0.673);
    transition: 1s;
}

.about-card2 {
    width: 80%;
    background-color: #2954a394;
    border-radius: 15px;
    margin: 20px;
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    padding: 20px;
}

/* .about-card2.light-mode {
    background-color: #c6c6c6;
    width: 80%;
    background-color: #2954a3c4;
    border-radius: 15px;
    margin: 20px;
    text-align: center;
} */

.education {
    text-align: center;
    color: #ffff;
    width: 100%;
}

.education-text {
    width: 100%;
    text-align: start;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;

}

.education-container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
    justify-items: center;
    padding: 10px;
}

.education-img {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    height: 100%;
    justify-content: end;
    align-items: center;
    display: flex;
    padding: 10px;
}

.about-card2:hover {
    transition: 500ms linear;
    box-shadow: 0 1px 30px 0 rgba(29, 62, 123, 0.673);
    transition: 1s;
}
.n-logo{
    width: 100px;
    height: 100px;
}
@media screen and (min-width: 800px) {
    .hamburger{
        display:none;
    }
}
@media screen and (max-width: 800px) {
    .education-container {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 1fr;
        height: 100%;
        width: 100%;
        justify-items:center;
        padding: 0px;
    }

    .education-img {
        grid-area: 1 / 2 / 2 / 3;
        justify-content: end;
        align-items: center;
        display: flex;
    }
    .n-logo{
        width: 70px;
        height: 70px;
    }

    .education-text {
        width: 100%;
        text-align: start;
        font-size: 12px;
        font-weight: 400;
        color: #ffffff;
        line-height: 24px;
    }
    #theme-image {
        animation: slideFromTop 3s ease forwards;
        animation-direction: alternate;
        transition: 500ms linear;
        position: relative;
        opacity: 0;
        height:300px ;
        margin-left: 10px;
        margin-right: 10px;
    }
    .nav-links {
        display: none;
    }
    .hamburger{
        display:flex;
    }
    
}

@media screen and (max-width: 520px) {
    .about-container {
        display: grid;
        justify-content: center;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 30% 70%;
        width: 100%;
        padding: 0;
        margin: 0;
        height: 110vh;
    }

    .about-left {
        grid-area: 1 / 1 / 2 / 2;
        width: 90%;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    #theme-image {
        width: 100%;
    }

    .about-right {
        grid-area: 2 / 1 / 3 / 2;
        background-image: url(images/Group\ 1179-min.png);
        background-size: 80%;
        width: 100%;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        margin-top: 20px;
        padding: 0;
    }

    .about-cards {
        display: grid;
        justify-content: center;
        justify-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 50% 50%;
        width: 95%;
        height: 100%;
        text-align: center;
        margin: 0;
    }

    .about-card1 {
        width: 100%;
        background-color: #2954a394;
        border-radius: 15px;
        display: grid;
        grid-template-rows: 20% 80%;
        justify-items: start;
        align-items: center;
        margin: 10px;
    }

    .about-card2 {
        width: 100%;
        background-color: #2954a394;
        border-radius: 15px;
        display: grid;
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
        margin: 10px;
    }


    .education {
        text-align: center;
        color: #ffff;
        width: 100%;
    }

    .education-text {
        width: 100%;
        text-align: start;
        font-size: 12px;
        font-weight: 400;
        color: #ffffff;
        line-height: 20px;
    }

    .education-container {
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: 1fr;
        height: 100%;
        width: 100%;
        justify-items: center;
        padding: 10px;
    }

    .education-img {
        grid-area: 1 / 2 / 2 / 3;
        width: 100%;
        height: 100%;
        justify-content: end;
        align-items: center;
        display: flex;
        padding: 10px;
    }

    .slider {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .slide {
        height: 100%;
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-content: center;

    }

    .slide-container {
        height: 300px;
    }

}






.slider {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.slide-container {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    width: 100%;
    height: 90%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
    padding: 7px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.prev .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}







/* ---------------------skills-------------------- */
.skills {
    width: 100%;
    padding-top: 50px;
}

#slideshow {
    margin: 0 auto;
    padding-top: 100px;
    height: 500px;
    width: 100%;
    box-sizing: border-box;
    background-image: url(images/bg2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.entire-content {
    margin: auto;
    width: 100px;
    perspective: 950px;
    position: relative;
    padding-top: 80px;
}

.content-carrousel {
    width: 100%;
    position: absolute;
    float: right;
    animation: rotar 30s infinite linear;
    transform-style: preserve-3d;
}

.content-carrousel:hover {
    animation-play-state: paused;
    cursor: pointer;
    transition: all 300ms;
}

.content-carrousel figure {
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: absolute;
}

.content-carrousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
}

.content-carrousel figure:nth-child(2) {
    transform: rotateY(45deg) translateZ(300px);
}

.content-carrousel figure:nth-child(3) {
    transform: rotateY(90deg) translateZ(300px);
}

.content-carrousel figure:nth-child(4) {
    transform: rotateY(135deg) translateZ(300px);
}

.content-carrousel figure:nth-child(5) {
    transform: rotateY(180deg) translateZ(300px);
}

.content-carrousel figure:nth-child(6) {
    transform: rotateY(225deg) translateZ(300px);
}

.content-carrousel figure:nth-child(7) {
    transform: rotateY(270deg) translateZ(300px);
}

.content-carrousel figure:nth-child(8) {
    transform: rotateY(315deg) translateZ(300px);
}

.shadow {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.content-carrousel img {
    image-rendering: auto;
    transition: all 300ms;
    width: 70%;
    height: 80%;
}

.content-carrousel img:hover {
    transition: all 300ms;
}

@keyframes rotar {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}



/* ---------------------Projects-------------------- */

.projects {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    height: 100vh;
    align-content: space-around;
    position: relative;
    opacity: 1.0;
    width: 100%;

    h1 {
        margin: 20px;
    }
}

.projects-container {
    z-index: 1;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
}

.projects-image {
    width: 50%;
    /* Set width to 50% for each image container */
    height: 600px;
    /* Set height to 100% to cover the entire hero section */
    position: absolute;
}

.left-projects {
    background-image: url('images/bg\ image\ 7-min.png');
    background-size: 40% auto;
    background-repeat: no-repeat;
    background-position: top left;
    left: 0;
    top: 0;
    bottom: 20;
    animation: slideFromLeft 3s ease forwards;
    animation-direction: alternate;
    transition: 500ms linear;
    opacity: 1;
}

.left-projects:hover {
    background-size: 45% auto;
}

.right-projects {
    background-image: url('images/bg\ image\ 9-min.png');
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: top;
    right: 0;
}

.cards-row1 {
    width: 100%;
    grid-area: 1/1/2/2;
    display: grid;
    grid-template-columns: 10% repeat(2, 40%) 10%;
}

.cards-row2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-area: 2 / 1 / 3 / 2;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.project-card {
    height: 450px;
    width: 70%;
    background-color: #2954a394;
    border-radius: 15px;
    margin: 20px;
    transition: 500ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #c6c6c6;
    padding: 20px;
    opacity: 0;

    h1 {
        font-size: 20px;
        font-weight: 600;
        margin: 20px 0px 20px 20px;
    }

    p {
        font-size: 15px;
        font-weight: 400;
        margin: 0px 20px 20px 20px;
    }
}

#Petty {
    width: 90%;
    height: 300px;
}

.project-card:hover {
    transition: 500ms linear;
    box-shadow: 0 1px 30px 0 rgba(29, 62, 123, 0.673);
    width: 100%;
    height: 460px;
    filter: blur(3px);
    transition: 1s;
}

#Dashboard {
    width: 90%;
    height: 220px;
}

.readMore {
    display: none;
}

.project-card-hover {
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
}

.project-card-hover>* {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.project-card-hover:hover .readMore {
    display: flex;
    z-index: 3;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 40px;
    background: linear-gradient(to right, #c961de, #2954a3);
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    word-wrap: break-word;
    box-shadow: 1 7px 7px #000000a8;
    border: 0;
    padding: 10px 0px;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    text-decoration: none;
    width: 200px;
}

@media screen and (max-width: 850px) {
    .card {
        display: none;
        opacity: 0;
    }

    .project-card {
        height: 450px;
        width: 90%;
    }

    .projects-image {
        width: 100%;
        height: 600px;
        position: absolute;
    }

    .projects {
        min-height: 150vh;
    }

    .left-projects {
        display: none;
    }

    #Petty {
        width: 300px;
        height: 200px;
    }

    #Dashboard {
        width: 300px;
        height: 200px;
    }

    .projects-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }

    .cards-row1 {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        height: 100%;
    }

    #card1 {
        grid-area: 1 / 1 / 2 / 2;
        height: 400px;
        width: 90%;
        background-color: #2954a394;
        border-radius: 15px;
        margin: 20px;
    }

    #card2 {
        height: 400px;
        width: 90%;
        background-color: #2954a394;
        border-radius: 15px;
        margin: 20px;
    }

    #card3 {
        height: 400px;
        width: 90%;
        background-color: #2954a394;
        border-radius: 15px;
        margin: 20px;
    }


}



@media screen and (max-width: 520px) {
    .card {
        display: none;
        opacity: 0;
    }
    .projects-image {
        width: 100%;
        height: 600px;
        position: absolute;
        display: none;
    }

    .projects {
        min-height: 140vh;
        padding-bottom: 0;
    }

    .left-projects {
        display: none;
    }

    #Petty {
        width: 100%;
        height: 200px;
    }

    #Dashboard {
        width: 100%;
        height: 200px;
    }

    .projects-container {
        /* height:min-content; */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }

    .cards-row1 {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        height: 100%;
    }

    #card1 {
        grid-area: 1 / 1 / 2 / 2;
        height: 400px;
        width: 90%;
        background-color: #2954a394;
        border-radius: 15px;
        margin: 20px;
    }

    #card2 {
        height: 400px;
        width: 90%;
        background-color: #2954a394;
        border-radius: 15px;
        margin: 20px;
    }

    #card3 {
        height: 400px;
        width: 90%;
        background-color: #2954a394;
        border-radius: 15px;
        margin: 20px;
    }


}



/* --------------------Contact Form-------------------------------- */

body,
button,
input {
    font-weight: 600;
    letter-spacing: 1.4px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url(images/Group\ 1199-min.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 55%;

    h1 {
        margin: 20px;
        color: #ffffffc9;
    }
}

.container {
    flex: 0 1 600px;
    margin-top: auto;
    margin-bottom: 0;
    padding: 10px;
}

.screen {
    position: relative;
    background-color: #2954a394;
    border-radius: 15px;
    opacity: 0;

}

.screen-body {
    display: flex;
}

.contact-form {
    flex: 1;
    padding: 50px;
}

.contact-form.left {
    display: flex;
    flex-direction: column;
}

.app-title {
    display: flex;
    flex-direction: column;
    position: relative;

    h1 {
        font-size: 26;
        color: #C961DE;
        margin: 0;
        margin-bottom: 7px;
    }

    p {
        font-size: 16;
        color: #ffffff;
        padding-top: 50px;
    }
}


.form-group {
    margin-bottom: 15px;
}

.form-group.message {
    margin-top: 40px;
}

.form-group.buttons {
    margin-bottom: 0;
    text-align: right;
}

.form-input {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #a5a5a5;
    color: #ffffff;
    font-size: 14px;
    outline: none;
    transition: border-color .2s;
}

.form-input::placeholder {
    color: #a5a5a5;
}

.form-input:focus {
    border-bottom-color: #C961DE;
}

.form-button {
    background: linear-gradient(to right, #c961deb2, #2954a39d);
    color: #fff;
    padding: 10px 20px;
    border: none;
    width: 150px;
    border-radius: 20px;
    cursor: pointer;
}

.form-button:hover {
    background: linear-gradient(to right, #C961DE, #2954A3);
}



@media screen and (max-width: 520px) {
    
.contact {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    flex-direction: column;
    height: 150vh;
    background-image: url(images/Group\ 1199-min.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 55%;

    h1 {
        margin: 20px;
        color: #ffffffc9;
    }
}
    .screen-body {
        flex-direction: column;
        margin-bottom: 150px;
    }

    .contact-form.left {
        margin-bottom: 30px;
    }

    .contact-form {
        padding-bottom: 100px;
    }

    .app-title {
        display: grid;
        grid-template-rows: 1fr 1fr;
        text-align: center;
        align-items: center;
        height: 200px;

        h1 {
            grid-area: 1 / 1 / 2 / 2;
        }

        p {
            grid-area: 2 / 1 / 3 / 2;
        }
    }

    .app-title:after {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .screen-body {
        padding: 40px;
    }

    .contact-form {
        padding: 0;
    }
}



















/* -----------------------------Footer -------------------------------- */



footer {
    background-color: #2954a394;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    opacity: 1;
    /* transition: opacity 0.5s ease; */
    z-index: 1;
}

.visible {
    opacity: 1;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    padding: 20px;
    font-weight: 300;
}


@media (max-width: 500px) {
    .left-image {
        background-size: 80%;
    }

    .right-image {
        background-size: 100%;
    }

    footer {
        width: 100%;
        height: 150px;
        padding: 10px 0;
        position: relative;
        font-size: 16px;
    }

    .menu__link {
        font-size: 16px;
    }

    p {
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px) {
    .background-image.left-image {
        display: block;
        width: 50%;
    }

    .background-image.right-image {
        width: 50%;
    }

    .nav-links {
        justify-content: space-around;
    }
}





/* -----------------------------burger -------------------------------- */
.hamburger {
    position: fixed;
    top: 0;
    right: 0px;
    z-index: 97;
    background: #2954a300;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 100px;
  }

  .hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background: rgb(255, 255, 255);
    margin: 5px auto;
  }

  /* Style the menu */
  .menu {
    position: fixed;
    top: 0;
    margin: 0;
    right: -100%;
    width: 200px;
    height: 100%;
    background: #2954a3ee;
    z-index: 98;
    transition: right 0.3s ease-out;
  }

  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .menu li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }

  .menu li:last-child {
    border-bottom: none;
  }

  .menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  /* Style the close button */
  .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 99;
    background: white;
    border: none;
    cursor: pointer;
    padding: 10px;
  }

  /* Show the menu when the hamburger menu is clicked */
  .hamburger:focus ~ .menu {
    right: 0;
  }



  